<!-- 새로고침 가능하고 비밀번호가 있는 프리뷰 리다이렉트 -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>⚠️Kafe</title>
</head>
<body>
<!-- <table style="align-items: center; justify-content: center; padding: 3rem 1rem;"> -->
<table align="center">
    <tr>
        <th align="center">
            <h2 style="font-size: 1.875rem; font-weight: 700; text-align: center; color: rgb(17 24 39);">Kafe
            </h2>
            <p style="font-size: 24px; font-weight: 700; text-align: center; color: #FEDB82;"> WARNING
            </p>
        </th>
    </tr>
    <tr>
        <td align="center">
            <p style="margin: 3px 0px; color: rgb(17 24 39);">안전하지 않은 사이트일 가능성이 높습니다.</p>
            <p style="margin: 3px 0px; color: rgb(17 24 39);">그래도 이동하시겠습니까?</p>
            <p style="margin: 3px 0px; color: rgb(17 24 39);">[[${originalUrl}]]</p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <img th:src="${preview}" alt="creating.." onclick="btnImg();" style="display: block; margin:auto 0px; width: 615px;"/>
        </td>
    </tr>
    <tr>
        <td align="center">
            <form method="post" style="margin-top: 2rem; margin-top: 1.5rem; text-align: center; justify-content:center;">
                <input type="hidden" name="ignore" value="true">
                <input id="pwd" name="pwd" type="password" required style="position: relative; display: block; width:100%; padding: 3px 2px; color: rgb(17 24 39);  border-radius: 6px; border-color: rgb(209 213 219);   appearance: none;" placeholder="비밀번호를 입력하세요">
                <button type="submit" style="justify-items: center; border-radius: 6px; border-color: transparent; background-color: #FEDB82; padding: 3px 6px; font-size: 14px; line-height: 20px; color: rgb(255 255 255);">
                    확인
                </button>
            </form>
        </td>
    </tr>
</table>

</body>
<script>
    function btnImg() {
        location.reload()
    }
</script>
</html>